<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400i,700i" rel="stylesheet">
<style>
body {
    font-family: 'Lato', sans-serif;
    color: #345051;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    word-spacing: 0;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}


table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-striped>tbody>tr:nth-child(odd) {
    background-color: #f9f9f9;
}

</style>

  <div class="container">
    <div class="row">
      <div class="col-md-12"> 
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre completo</th>
              <th>Correo electrónico</th>
              <th>Número de teléfono móvil</th>
              <th>Medio</th>
            </tr>
          </thead>
          <tbody>
						<% filas.each do |d| %>
            <tr>
              <td><%= d.nombre %></td>
              <td><%= d.email %></td>
              <td><%= d.telefono %></td>
              <td><%= d.pref %></td>
            </tr>
						<% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
