<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> Derechos reservados, El Colegio de México A.C. © 2017<br>
        Camino al Ajusco número 20, Colonia Pedregal de Santa Teresa, C.P. 10740 México, Ciudad de México<br>
        Tel.: +52 55 54493000 </div>
    </div>
  </div>
</footer>
