
<!-- Inicia banner -->
<section class="call-2-acction jantetelco" data-stellar-background-ratio="0.4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="c2a"> <br>
          <h2>Jantetelco, Jantetelco</h2>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Termina banner -->
<section class="blog" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="blog-post">
          <h2 class="post-title">Jantetelco, Jantetelco.</h2>
          <div class="post-content">
            <p>Lugar conocido por Mariano Matamoros de quien aún se conserva su dormitorio y fue de gran importancia junto a Morelos en la zona durante la Independencia. Otro atractivo turístico es "ex convento de San Pedro Apóstol quien es el santo patrono de la comunidad. De todas las comunidades, la plaza de Jantetelco fue la más arreglada, tenía nacimiento, árbol navideño, piñatas.</p>
          </div>
          <!-- Inicia Términos y condiciones -->
          <h2 class="post-title">Términos y condiciones</h2>
          <div class="post-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis elit, facilisis vel urna sit amet, dignissim lacinia nunc. Morbi nisl est, imperdiet nec arcu eu, dictum imperdiet ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed bibendum ultrices lacus nec varius.</p>
            <p>Vestibulum sagittis risus vel lectus faucibus molestie. Phasellus pretium turpis urna, sit amet aliquam augue rhoncus non. Curabitur pulvinar tortor sed massa euismod gravida vitae ut magna. Donec dapibus purus sed ultricies congue.</p>
            <p>Integer euismod ultricies venenatis. In justo purus, egestas ut vehicula eu, mattis maximus elit. Aliquam vulputate eros et erat facilisis vestibulum. Curabitur lobortis nulla neque, non bibendum nisl laoreet vel. Maecenas volutpat, urna a fringilla laoreet, nisi elit egestas elit, at aliquet eros nulla sed magna. </p>
            <p>Vivamus porta gravida sem, quis cursus turpis. Praesent non commodo ligula, vitae accumsan velit. Cras in leo sed quam mollis placerat non in risus. Vivamus imperdiet quis felis a lobortis. Nunc iaculis arcu nec neque dictum, non vehicula tortor volutpat.</p>
          </div>
          <h2 class="post-title text-right">Estoy de acuerdo en participar&nbsp; &nbsp;<a href="index.html" class="btn btn-lg btn-dark">No acepto</a> <a href="jantetelco-cuestionario.html" class="btn btn-main btn-lg">Acepto</a></h2>
          <!-- Termina Términos y condiciones --> 
        </div>
      </div>
    </div>
  </div>
</section>

