<!-- Inicia banner -->
<section class="call-2-acction san-gabriel" data-stellar-background-ratio="0.4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="c2a">
         <br>
          <h2>San Gabriel amacuitlapiclo, Jonacatepec</h2>
			<p>&nbsp;</p>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Termina banner -->
<section class="blog" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="blog-post">
          <h2 class="post-title">San Gabriel amacuitlapiclo, Jonacatepec.</h2>
          <div class="post-content">
            <p>En SG se destaca el uso del perifoneo para matener a la comunidad en comunicación, su plaza generalemente estaba sola con respecto a las otras comunidades. Hay dos iglesias de las cuales de una resalta el color morado.</p>
                </div>
              <!-- Inicia Términos y condiciones -->
          <h2 class="post-title">Términos y condiciones</h2>
          <div class="post-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis elit, facilisis vel urna sit amet, dignissim lacinia nunc. Morbi nisl est, imperdiet nec arcu eu, dictum imperdiet ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed bibendum ultrices lacus nec varius.</p>
            <p>Vestibulum sagittis risus vel lectus faucibus molestie. Phasellus pretium turpis urna, sit amet aliquam augue rhoncus non. Curabitur pulvinar tortor sed massa euismod gravida vitae ut magna. Donec dapibus purus sed ultricies congue.</p>
            <p>Integer euismod ultricies venenatis. In justo purus, egestas ut vehicula eu, mattis maximus elit. Aliquam vulputate eros et erat facilisis vestibulum. Curabitur lobortis nulla neque, non bibendum nisl laoreet vel. Maecenas volutpat, urna a fringilla laoreet, nisi elit egestas elit, at aliquet eros nulla sed magna. </p>
            <p>Vivamus porta gravida sem, quis cursus turpis. Praesent non commodo ligula, vitae accumsan velit. Cras in leo sed quam mollis placerat non in risus. Vivamus imperdiet quis felis a lobortis. Nunc iaculis arcu nec neque dictum, non vehicula tortor volutpat.</p>
          </div>
          <h2 class="post-title text-right">Estoy de acuerdo en participar&nbsp; &nbsp;<a href="index.html" class="btn btn-lg btn-dark">No acepto</a> <a href="san-gabriel-cuestionario.html" class="btn btn-main btn-lg">Acepto</a></h2>
          <!-- Termina Términos y condiciones --> 
        </div>
      </div>
    </div>
  </div>
</section>

